/* ==== Our Styles ==== */
/* ==== in addition to foundation.css and to override vendor presets without breaking source code ==== */

/* elements */

html {
  font: 62.5%/1.5 'Source Sans Pro', sans-serif; /* 62.5% to make base font size of 10px = 1rem */
}

nav {
	width: 100%;
	height: 60px;
}

header {
	width: 100%;
	height: 350px;
}

main {
	width: 100%;
	height: 400px;
}

section {
	width: 100%;
	height: 350px;
}
footer {
	height: 70px;
	background: #233233;
}

/* ==== Typography ==== */
p {
	font-family: "Source Sans Pro", sans-serif;
	line-height: 1.5;
	font-size: 18px;
	font-size: 1.8rem;
	padding: 0 15px;
	padding: 0 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

h1 {
	font-size: 28px;
	font-size: 2.8rem;
	line-height: 1.5;
}

h2 {
	font-size: 20px;
	font-size: 2rem;
}

h3 {
	font-size: 18px;
	font-size: 1.8rem;
	
}
h1.title {
	position: relative;
	top: 100px;
	color: #ffffff;
	text-align: center;
}
h1.title-black {
	position: relative;
	top: 100px;
	color: #000000;
	text-align: center;
}

h2.student {
	color: #ffffff;
	font-size: 20px;
	font-size: 2rem;
}

.student {
	line-height: 1.5;
	color: #ffffff;
	font-size: 18px;
	font-size: 1.8rem;
}
/* navigation */
.main-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: right; /* align menu to right instead of using float */
}

.menu-item {
	width: auto;
	height: 60px;
	display: inline-block;
	padding: 0 15px;
	margin-right: -4px;
	border-left: 1px dotted #515151;
	transition: background .4s;
	-moz-transition: background .4s;
	-webkit-transition: background .4s;
	-o-transition: background .4s;
}

.menu-item:first-child {
	border-left: none;
}

.menu-item:hover {
	background: #192829;
}

.menu-item:first-child:hover {
	background: transparent;
}

.main-menu li a:link {
	display: inline-block;
	line-height: 60px;
	font-size: 13px;
	font-size: 1.3rem;
	color: #efefef;
	text-decoration: none;
}

.main-menu li a:visited {
	color: #efefef;
}

/* degree navigation */
.degree-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.degree-menu-item {
	display: block;
	padding: 0 15px;
	margin-right: -4px;
	height: 40px;
	transition: background .4s;
	-moz-transition: background .4s;
	-webkit-transition: background .4s;
	-o-transition: background .4s;
}

.degree-menu li a:link {
	display: block;
	line-height: 40px;
	font-size: 14px;
	font-size: 1.4rem;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	color: #000000;
	text-decoration: none;
}

.degree-menu li a:visited {
	color: #000000;
}

/* sitemap */
.footer {
	position: relative;
	top: 20px;
	margin: 0;
	color: #ffffff;
	text-align: center;
}

/* ==== Colours ==== */
.cyan:hover { background: #05d6f5;}
.red:hover {background: #fc0008;}
.orange:hover { background: #ff7200;}
.pink:hover {background: #ee059f;}
.yellow:hover {background: #f0d310;}
.blue:hover {background: #0035fc;}
.green:hover {background: #0de568;}
.purple:hover {background: #ba00ff;}
.teal:hover {background: #016462;}
.mountainmeadow:hover { background: #1abc9c;}
.greenhaze:hover {background: #009c75;}
.emerald:hover { background: #2ecc71;}
.wetasphalt:hover { background: #34495e;}
.midnightblue:hover {background: #2c3e50;}
.carrot:hover {background: #e67e22;}
.silver:hover {background: #7f8c8d;}
.gray:hover {background: #2f2f2f;}

/* ==== Active Colours ==== */
.solid-white {background: #ffffff;}
.solid-black {background: #000000;}
.solid-cyan { background: #05d6f5;}
.solid-red {background: #fc0008;}
.solid-orange { background: #ff7200;}
.solid-pink {background: #ee059f;}
.solid-yellow {background: #f0d310;}
.solid-blue {background: #0035fc;}
.solid-green {background: #0de568;}
.solid-purple {background: #ba00ff;}
.solid-teal {background: #028482;}
.solid-mountainmeadow { background: #1abc9c;}
.solid-greenhaze {background: #009c75;}
.solid-emerald { background: #2ecc71;}
.solid-wetasphalt { background: #34495e;}
.solid-midnightblue {background: #2c3e50;}
.solid-carrot {background: #e67e22;}
.solid-silver {background: #7f8c8d;}
.solid-gray {background: #2f2f2f;}
.blank {background: transparent;}

/* header images */
.atrium {background: url('../img/atrium.png');}
.atrium2 {background: url('../img/atrium2.png');}
.outside {background: url('../img/outside.png');}
.artschool {background: url('../img/artschool.png');}
.classroom {background: url('../img/classroom.png');}

/* unordered lists */
ul.careers, ul.accom-menu {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.5;
	font-weight: 600;
	margin: 0;
}

.career-item, .accom-item {
	margin-left: 0;
}